{% extends "base-admin.html.twig" %}


{% block dashboard %}
<div class="container">
    <h1></h1>

    {{form_start(postForm)}}
    {{form_widget(postForm)}}
    <button class="btn btn-lg btn-block btn-primary" type="submit">Modifier</button>
    {{form_end(postForm)}}
</div>
<style>
.vich-image > a > img {
    width: 20%;
    border-radius: 1.5em;
}
</style>
{% endblock %}